@charset "UTF-8";

hr {
	width: 80%;
	margin: 0 auto;
}

/*====================
         カート画面
====================*/

h1 {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 10px;
	text-align: center;
	padding-top: 10px;
}

.cart-item-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 65%;
	margin: 0 auto;
	box-shadow: 0px 1px 8px 6px rgba(0, 0, 0, 0.1);
	border: none;
	border-radius: 15px;
	padding: 22px 0px;
}

.cart-item {
	display: flex;
	justify-content: space-between;
	border: 1px solid #ccc;
	padding: 15px;
	border-radius: 8px;
	width: 75%;
	margin: 0 auto;
}

.cart-item-image img {
	max-width: 100px;
	max-height: 100px;
}

.cart-item-details {
	flex-grow: 1;
	padding: 0 20px;
}

.cart-item-name {
	font-weight: bold;
	font-size: 16px;
}

.cart-item-price {
	margin-top: 5px;
}

.cart-item-actions {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

/*ステッパー関連*/
.stepper button {
	background-color: #df6f34;
	color: white;
	padding: 5px 10px;
	border: none;
	border-radius: 11px;
	cursor: pointer;
}

button:hover {
	background-color: #ef844b;
}

input.stepper-input {
	width: 45px;
}

/*削除時のダイアログ関連*/
.dialog-content {
	text-align: center;
}

.dialog-content p {
	margin-bottom: 15px;
}

/* モーダルの設定*/
.dialog {
	position: fixed;
	/* 画面に固定する */
	top: 50%;
	/* 画面の縦中央 */
	left: 50%;
	/* 画面の横中央 */
	transform: translate(-50%, -50%);
	/* 自身のサイズ分中央に調整 */
	width: 600px;
	margin: 0 auto;
	padding: 10px 20px;
	border: 2px solid rgb(93, 93, 93);
	border-radius: 15px;
}

/* モーダルの中身の設定*/
.dialog-comment {
	border: 1px solid rgb(93, 93, 93);
	/* ボーダーを設定 */
}

/*合計関連の設定*/
.order {
	display: flex;
	background-color: #f9f9f9;
	border-radius: 8px;
	width: 75%;
	margin: 0 auto;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
}

.order-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	/* hrと同じ幅に合わせる */
	margin: 0 auto;
	/* 中央寄せ */
}

.order-row span:first-child {
	text-align: left;
	width: 50%;
}

.order-row span:last-child {
	text-align: left;
}

.coupon-form {
	display: flex;
	justify-content: space-between;
	/* 左右に要素を分ける */
	align-items: center;
	width: 80%;
	margin: 0 auto;
}

.coupon-input {
	display: flex;
	gap: 7px;
}

#applyCoupon {
	cursor: pointer;
	padding: 4px 18px;
}

.discountMessage {
	color: red;
	text-align: right;
	width: 90%;
}

.discount{
	text-align: right;
	width: 90%;
}

.total {
	font-size: 17px;
	font-weight: bold;
}

/*カート内空時の設定*/
.cartNone {
	width: 65%;
	margin: 0 auto;
	box-shadow: 0px 1px 8px 6px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	padding: 22px 0px;
	text-align: center;
}



.product {
	width: 30%;
	margin: 0 auto;
}


/*====================
         住所選択画面
====================*/

/*大枠*/
.addressForm {
	width: 65%;
	margin: 0 auto;
	box-shadow: 0px 1px 8px 6px rgba(0, 0, 0, 0.1);
	border: none;
	border-radius: 15px;
}

/* お届け先情報 */
.address-item {

	margin-bottom: 15px;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #f9f9f9;
}

.address-item label {
	font-size: 16px;
	line-height: 1.5;
}

/* フィールドセットとレジェンド */
fieldset {
	border: none;
	width: 80%;
	padding: 20px;
	margin: 0 auto;
}

legend {
	font-size: 24px;
	font-weight: 600;
	color: #34495e;
	margin-bottom: 10px;
	text-align: center;
	padding-top: 10px;
}

/* ラベルとインプットフィールド */
label {
	display: block;
	font-weight: 500;
	color: #2c3e50;
}

.address-radio {
	display: flex;
	align-items: center;
}

.address-radio input[type="radio"] {
	margin-right: 10px;
	transform: scale(1.2);
}

.address-info {
	flex-grow: 1;
}

/*新規住所入力*/
.address-form {
	border: 1px solid #ccc;
	padding: 15px;
	margin-top: 10px;
	border-radius: 8px;
	background-color: #f9f9f9;
}

/*氏名、仮名…とかのやつ*/
.address-form label {
	display: block;
	margin: 10px 0 5px;
}

/*入力エリア*/
.address-form input[type="text"],
.address-form textarea {
	width: 80%;
	padding: 8px;
	margin-bottom: 10px;
	margin-left: 30px;
}

input[type="text"]:focus,
textarea:focus {
	border-color: rgb(70, 157, 215);
	outline: none;
}

/*ラジオボタン*/
.address-form input[type="radio"] {
	margin-right: 10px;
}

/*支払い選択ボタン*/
.nextPay {
	display: block;
	/* ブロック要素として扱う */
	margin: 20px auto;
	/* 上下に20pxのマージンを設定し、左右を自動で中央揃え */
	padding: 10px 20px;
	/* ボタンに余白を追加 */
	font-size: 16px;
	/* フォントサイズを設定 */
	border: none;
	/* 枠線を削除 */
	color: white;
	/* ボタンの文字色を設定 */
	border-radius: 9px;
	/* 角を丸くする */
}

/* ボタンが無効な状態のスタイル */
.nextPay:disabled {
	background-color: #ccc;
	/* 無効時の色 */
}


/*====================
     支払方法選択画面
====================*/

.paymentContent {
	width: 65%;
	margin: 0 auto;
	box-shadow: 0px 1px 8px 6px rgba(0, 0, 0, 0.1);
	border: none;
	border-radius: 15px;
}

/* 支払い方法の選択肢 */
.payment-form {
	padding: 15px;
	border: 1px solid #ecf0f1;
	background-color: #f9f9f9;
	border-radius: 6px;
	margin-bottom: 10px;
}

.pay {
	background-color: #ddd6d3;
	margin-bottom: 7px;

}